@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');

:root{
    --primary: #4D6755;
	--secondary: #454634;
    --background: #FFFFF0;
    --accent: rgba(107, 187, 44, 0.55);
    --text-color: #303030;
}

body{
    background-color: #FFFFF0;
    color: #303030;
    font-family: 'Grandstander', cursive;
}

.navbar {
    height: 56px;
    background-color: #FFFFFF;
}
  
.favorites {
    height: calc(100vh - 56px);
}

.card-img-overlay{
    box-shadow: 0px 100px 50px -13px rgba(0,0,0,0.8) inset;
}

.empty-component {
    text-align: center;
    font-size: 16px;
    color: #C7C3C3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-component > img{
    filter: invert(86%) sepia(3%) saturate(234%) hue-rotate(314deg) brightness(97%) contrast(79%);
}
