@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');

:root{
    --primary: #885C89;
	--secondary: #885C89;
    --complementary: #5C8988;
    --accent: #5D895C;
    --text-color: #212529;
}

body{
	/* background-image: url(../img/Mainbackground.png); */
    background-color: var(--primary);
	color: ghostwhite;
    font-family: 'Grandstander', cursive;
}

.container-fluid{
	min-height: 90vh;
	max-height: 90vh;
}

.saved-recipe{
    background-color: var(--complementary);
    color: var(--text-color);
}

.no-favorite{
	filter: brightness(0) invert(1);
	opacity: 50%;
	width: 50%;
}

.navigation-bar
{
	position: fixed;
	bottom: 10px;
	width: 92%;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px
}

.navigation-bar .list-items
{
	display: flex;
	width: 350px;
	position: relative;
	
}
.navigation-bar .list-items .item
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.navigation-bar .list-items .item .icon
{
	position: relative;
	display: block;
	line-height: 75px;
	transition: 0.5s;
	color: white;
}
.navigation-bar .list-items .item.active 
{
	background: #00c04b;
	height: 75px;
	border-radius: 65px;
	transform: translateY(-20px);
	transition-delay: 1s;
	border: 5px solid white;
}