@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root
{
	--primary: #87CEEB;
	--secondary: #454634;
    --complementary: #FEEFD3;
    --accent: #FAC622;
    --text-color: #212529;
}

body
{
	background-color: var(--primary);
	font-family: 'Grandstander', cursive;
	color: ghostwhite;
}

.home
{
	min-height: 90vh;
	max-height: 90vh;
}

.btn-circle {
    border-radius: 20px;
    border: 1px solid var(--text-color);
    text-align: center;
}

.recipe-card{
    background-color: var(--complementary);
    color: var(--text-color);
}

.carousel-card{
	text-align: center;
	background-color: #90EE90;
	color: ghostwhite;
	width: 45%;
}
