@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root
{
	--primary: #87CEEB;
	--secondary: #454634;
    --complementary: #FEEFD3;
    --accent: #FAC622;
    --text-color: #212529;
}

body
{
	background-color: var(--primary);
	font-family: 'Grandstander', cursive;
	color: ghostwhite;
}

.home
{
	min-height: 90vh;
	max-height: 90vh;
}

.btn-circle {
    border-radius: 20px;
    border: 1px solid var(--text-color);
    text-align: center;
}

.recipe-card{
    background-color: var(--complementary);
    color: var(--text-color);
}

.carousel-card{
	text-align: center;
	background-color: #90EE90;
	color: ghostwhite;
	width: 45%;
}

.navigation-bar
{
	position: fixed;
	bottom: 10px;
	width: 92%;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px
}

.navigation-bar .list-items
{
	display: flex;
	width: 350px;
	position: relative;
	
}
.navigation-bar .list-items .item
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.navigation-bar .list-items .item .icon
{
	position: relative;
	display: block;
	line-height: 75px
	transition: 0.5s;
	color: white;
}
.navigation-bar .list-items .item.active 
{
	background: #00c04b;
	height: 75px;
	border-radius: 65px;
	transform: translateY(-20px);
	transition-delay: 1s;
	border: 5px solid white;
}


.carousel{
	background: transparent;
}

.carousel-cell {
  width: 30%;
  height: 100px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 20px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}