@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');

:root{
    --primary: #4D6755;
	--secondary: #454634;
    --complementary: #FEEFD3;
    --accent: #FAC622;
    --text-color: #212529;
}

body{
	/* background-image: url(../img/Mainbackground.png); */
    background-color: var(--primary);
    color: ghostwhite;
    font-family: 'Grandstander', cursive;
}

.pantry{
	min-height: 83vh;
	max-height: 83vh;
}

.btn-circle {
    border-radius: 20px;
    border: 1px solid var(--text-color);
    text-align: center;
}

.recipe-card{
    background-color: var(--complementary);
    color: var(--text-color);
}

.no-recipe{
	filter: brightness(0) invert(1);
	opacity: 50%;
	width: 60%;
}
