@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root
{
	--primary: #F99244;
	--secondary: #454634;
    --complementary: #5C8988;
    --accent: #FAC622;
    --text-color: #212529;
}

body
{
	background-color: var(--primary);
	font-family: 'Grandstander', cursive;
	color: ghostwhite;
}

.search
{
	min-height: 83vh;
	max-height: 83vh;
}

.btn-circle {
    border-radius: 20px;
    border: 1px solid var(--text-color);
    text-align: center;
}

.recipe-card{
    background-color: var(--complementary);
    color: var(--text-color);
}
