.navigation-bar
{
	position: fixed;
	bottom: 10px;
	width: 92%;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px
}

.navigation-bar .list-items
{
	display: flex;
	width: 350px;
	position: relative;
	
}
.navigation-bar .list-items .item
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.navigation-bar .list-items .item .icon
{
	position: relative;
	display: block;
	transition: 0.5s;
	color: white;
}
.navigation-bar .list-items .item.active 
{
	background: #00c04b;
	height: 75px;
	border-radius: 65px;
	transform: translateY(-20px);
	transition-delay: 1s;
	border: 5px solid white;
}
